  <%= link_to (current_user.owner?(list))? edit_list_path(list) : list_showList_path(list), data: { behavior: 'modal' },remote: true do%>
     <i class="material-icons md-15 md-light">settings</i>
  <% end %>
  <!-- <% if logged_in? && current_user.owner?(list)%>
      <li><%= link_to "Edit List", edit_list_path(list), remote: true %></li>
      <li><%= link_to "Delete list", list, :confirm => 'Are you sure?', :method => :delete, remote: true %></li>
      <li><%= link_to "New invitations", new_list_invitation_path(list), remote: true %></li>
  <% end %> -->
