<!-- <h5 id="<%#= @list.id %>"><%#= @list.name %></h5>
<div class="new-task">
	<%#= render partial: 'tasks/form' %>
</div>
<% unless @list.tasks.empty? %>
		<h6>Incomplete Tasks</h6>
		<div class="tasks" id="incomplete_tasks">
		  <%#= render @incomplete_tasks %>
		</div>

		<h6>Comlpete Tasks</h6>
		<div class="tasks" id="complete_tasks">
		  <%#= render @complete_tasks %>
		</div>
<% end %>
<%# unless current_list.all_tasks? %> -->
