<table class="table-notification-settings">
    <thead>
      <tr>
          <th></th>
          <% @notification_options.each do |notification_option| %>
              <th><%= notification_option.name %></th>
          <% end %>
      </tr>
    </thead>

    <tbody>
      <%= render partial: "users/notification_layout/notification_setting_tr", collection: @notification, as: :notification_type %>
    </tbody>
</table>
