<!-- Invitations  -->
<div class="" >
    <ul class="tabs my-tabs">
      <li class="tab my-tab nav-link label"><a href="#pending-invitations" class="active">Pending Invitations</a></li>
      <li class="tab my-tab nav-link label"><a href="#accepted-invitations">Accepted Invitations</a></li>
    </ul>
    <div class="my-tab-content" id="">
      <div class="tab-pane fade show active row" id="pending-invitations">
        <div class="row">
          <div class="col s6">
            <span>List Name</span>
          </div>
          <div class="col s6">
            <span>List Name</span>
          </div>
          <i class="material-icons right">keyboard_arrow_right</i>
        </div>
      </div>
      <div class="tab-pane fade show" id="accepted-invitations">
        <ul class="invitation-user-settings">
          <li><span>List Name</span></li>
        </ul>
      </div>
    </div>
</div>
