<div class="chip">
	<% if user.avatar.exists? %>
		<%= image_tag(user.avatar(:medium), class: 'circle', size: "50x50") %>
	<% else %>
		<span><%= user.first_name[0]%></span>
	<% end%>
	<%= user.first_name %>
</div>
