
    <ul class="tabs ms-tabsSetting-titles" id="tabs_edit_user">
      <li class="tab col"><a href="#profile" class="active" data-remote="true" data-current-step = "personal">Personal</a></li>
      <li class="tab col"><a href="#security" data-remote="true" data-current-step = "security">Security</a></li>
      <!-- <li class="tab col"><a href="#invitation" data-remote="true" data-current-step = "security">Invitations</a></li> -->
    </ul>
