if(!$('#ms-tabsSetting').length){
    $('header .nav-wrapper').append('<div id="ms-tabsSetting"></div>');
}
$('#ms-tabsSetting').html('<%= j render partial: 'users/tabsSetting' %>');
$('body').addClass('expand-header');
$('nav a.button-collapse').css('display','block');
$('.navigationbar ul#slide-out').css({transform:'translateX(-100%)'});
$('#page-content').html('<%= j render "edit" %>');
$('ul.tabs').tabs();

// $('#ms-modal-applications').modal('open');
// $('.side-nav').hide();
