if(!$('#ms-tabsSetting').length){
    $('header .nav-wrapper').append('<div id="ms-tabsSetting"></div>');
}
$('#ms-tabsSetting').html('<%= j render partial: 'users/tabsSetting' %>');
$('body').addClass('expand-header');
$('nav a.button-collapse').css('display','block');
$('.navigationbar ul#slide-out').css({transform:'translateX(-100%)'});
$('#page-content').html('<%= j render 'users/edit' %>');
$('ul.tabs').tabs();

 Materialize.toast("<%= flash[:notice] %>", 4000); // 4000 is the duration of the toast
// $('#ms-modal-applications').modal('open');
// $('.side-nav').hide();
// # <% if flash[:notice] %>
// #    <div class="notice"><%= flash[:notice] %></div>
// #  <% end %>
