$(document).on('turbolinks:load',function(){
  $('.dropdown-button').dropdown();
  $(".button-collapse").sideNav();
  $('.edit_task').submitOnCheck();
  $('.modal-trigger').modal();

  $(document).on("change", 'input#list_avatar', uploadAvatar);
  // CHANGE IMAGE IN USER NEW FILE UPLOAD
  $(document).on("mouseout", 'label[for="list_avatar"]', mouseOutAvatar);
  $(document).on("mouseover", 'label[for="list_avatar"]', mouseOverAvatar);

  // $(document).on("click","form.edit_list a#btn-list-form-submit",function(e){
  //   e.preventDefault();
  //   alert("innnnnnnn");
  //   var formData = new FormData(),
  //     $input = $("#list_avatar"),
  //     $select = $("#list_owner"),
  //     $name = $("#list_name"),
  //     $description = $("#list_description"),
  //     $id = $("#list_id"),
  //     $method = 'post';
  //
  //     alert($name.val());
  //       alert($select.val());
  //   formData.append('list[name]', $name.val());
  //   formData.append('list[description]', $description.val());
  //
  //   if ($("form.edit_list").data("new") == "update") {
  //     formData.append('list[id]', $id.val());
  //     $method = 'put';
  //   }
  //   formData.append('owner', $select.val());
  //
  //
  //   if ( $input.length != 0){
  //     if( $input[0].files.length != 0 ){
  //       formData.append('list[avatar]', $input[0].files[0]);
  //     }
  //   }
  //    alert($("form.edit_list").attr("action"));
  // 	$.ajax({
  // 	  url: "/lists",
  // 	  data:  JSON.stringify({ formData, _method: $method }),
  // 	  cache: false,
  // 	  contentType: false,
  //     dataType:"json",
  // 	  processData: false,
  // 	  type: "POST",
  //     success: function(response){
  //             alert("success");
  //            if (typeof response.htmlerrors !== "undefined") {
  //               $("#error_message_list").html(response.htmlerrors);
  //            } else {
  //                 var $ul = $("ul.user-lists");
  //                 // $("li.active", $ul).removeClass('active');
  //                $.getScript("/lists/" + response.list , function() {
  //                   // $("#error_message_list").html(response.htmlerrors);
  //                })
  //               //  $("[data-nav-list-id='"+ response.list + "']").addClass('active');
  //                $('#ms-modal-dialog').modal('close');
  //                Materialize.toast(response.message, 4000);
  //            }
  //           // Materialize.toast('Avatar Changed', 4000);
  //           // return response; // <- I tried that one as well
  //       }
  // 	})
  // })

var app = window.app = {};

function split(val) {
    return val.split(/@\s*/);
}

function extractLast(term) {
    return split(term).pop();
}

// app.Users = function() {
//   this._input = $('#users-search-txt');
//   this._initAutocomplete();
// };

// app.Users.prototype = {
// _initAutocomplete: function() {
//   this._input
//     .bind("keydown", function(event) {
//         if (event.keyCode === $.ui.keyCode.TAB && $(this).data("autocomplete").menu.active) {
//             event.preventDefault();
//         }
//         $('#users-search-hidden').val($(this).val());
//     })
//     .autocomplete({
//       source: function( request, response) {
//         var term = request.term,
//             results = [];
//         if (term.indexOf("@") >= 0) {
//             term = extractLast(request.term);
//             if (term.length > 0) {
//               $.getJSON( "/lists/search", {
//                 term: term
//               }, response );
//             }
//         }
//       },
//       appendTo: '#users-search-results',
//       select: $.proxy(this._select, this)
//     })
//     .autocomplete('instance')._renderItem = $.proxy(this._render, this);
// },
//
// _render: function(ul, item) {
//   var markup = [
//     '<span class="img">',
//       '<img src="' + item.image_url + '" />',
//     '</span>',
//     '<span class="name">' + item.name + '</span>',
//     '<span class="email">' + item.email + '</span>'
//   ];
//   return $('<li>')
//     .append(markup.join(''))
//     .appendTo(ul);
// },
//
// _select: function(e, ui) {
//   var value, index, terms, name, nameId;
//
//   value = this._input[0].value;
//
//  var l = value.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
//   console.log( 'l='+ l);
//   index = value.lastIndexOf("@");
//   terms = value.substring(0, index);
//   terms = terms.split(" ");
//
//   // add the selected item
//   name = '@'+ui.item.name;
//   nameId = '@['+ui.item.name+'](user:'+ui.item.id+')';
//
//   terms.push(name);
//   // add placeholder to get the comma-and-space at the end
//   terms.push("");
//   this._input.val(terms.join(" "));
//   // $('#users-search-hidden').val(term2.join(" "));
//   return false;
//
// }
//
// };
/***** END Autocomplete with jQuery Autocomplete *********/
})
