$(document).on('turbolinks:load',function(){
  $('.dropdown-button').dropdown();
  $(".button-collapse").sideNav();
  $('.edit_task').submitOnCheck();
  $('.modal-trigger').modal();

  $(document).on("change", 'input#list_avatar', uploadAvatar);
  // CHANGE IMAGE IN USER NEW FILE UPLOAD
  $(document).on("mouseout", 'label[for="list_avatar"]', mouseOutAvatar);
  $(document).on("mouseover", 'label[for="list_avatar"]', mouseOverAvatar);

  //  change ownership
    $(document).on("click","a#btn-list-ownership-change",function(e){
        e.preventDefault;

        submit_ownership_change(e)
      })

      function submit_ownership_change(event) {
        var formData = new FormData(),
            $form_user_ownership_change = $("#user_ownership_change"),
            $new_owner = $("#list_owner",$form_user_ownership_change),
            $current_password = $("#current_password",$form_user_ownership_change);

        formData.append('list_owner', $new_owner.val());
        formData.append('current_password', $current_password.val());
        console.log($current_password.val());
        do_submit(formData);
        return false;
      }

          function keypressed(event) {
            var charcode = (event.which) ? event.which : window.event.keyCode;
            if (charcode == 13) {
              return submit_ownership_change(event);
            }
            return true;
          }

          function do_submit(submit_values) {
            console.log($("#btn-list-ownership-change").data("src"));
            $.ajax({
              url: $("#btn-list-ownership-change").data("src"),
              data: submit_values,
              cache: false,
              contentType: false,
              processData: false,
              type: 'POST',
              success: function(response) {
                      // Materialize.toast('Email Changed', 4000);
                // if (response.status=="success"){

                  // var $ulChangeEmail = $("#change_email"),
                  // $currentEmail = $('span#current-user-email',$ulChangeEmail),
                  // $userSettingNav = $("ms-user-nav-setting"),
                  // $emailSettingNav = $("li.ms-user-email >span", $userSettingNav),
                  // $form_user_email_change = $("#user_email_change"),
                  // $new_email = $("#user_new_email",$form_user_email_change),
                  // $new_email_confirmation = $("#user_new_email_confirmation",$form_user_email_change),
                  // $current_password = $("#user_current_password",$form_user_email_change);
                  // $new_email.val('');
                  // $new_email_confirmation.val('');
                  // $current_password.val('');
                  // $currentEmail.html(response.email);
                  // $emailSettingNav.html(response.email);
                  //
                  // if ($("#error_explanation").length >0){
                  //         $("#error_explanation").remove();
                  //     }
                  // $(".ms-tabsSetting-content").prepend('<div id="error_explanation" class="ms-alert ms-alert_notice left-align fade show alert-dismissible"><ul></ul></div>');
                  // var $menssageError = $("#error_explanation ul"),
                  //     message;
                  //
                  //     $menssageError.append ('<li>Your email was updated</li>');

                // }

                },error: function(xhr){

                  // if ($("#error_explanation").length >0){
                  //         $("#error_explanation").remove();
                  //     }
                  // $(".ms-tabsSetting-content").prepend('<div id="error_explanation" class="ms-alert ms-alert_error left-align fade show alert-dismissible"><ul></ul></div>');
                  // var $menssageError = $("#error_explanation ul"),
                  //     errors = $.parseJSON(xhr.responseText).errors,
                  //     message;
                  //
                  // jQuery.each( errors, function( i, val ) {
                  //     $menssageError.append ('<li>' + val[0].message + '</li>')
                  //   });


                }
            })


          }
// end change ownership



  // $(document).on("click","form.edit_list a#btn-list-form-submit",function(e){
  //   e.preventDefault();
  //   alert("innnnnnnn");
  //   var formData = new FormData(),
  //     $input = $("#list_avatar"),
  //     $select = $("#list_owner"),
  //     $name = $("#list_name"),
  //     $description = $("#list_description"),
  //     $id = $("#list_id"),
  //     $method = 'post';
  //
  //     alert($name.val());
  //       alert($select.val());
  //   formData.append('list[name]', $name.val());
  //   formData.append('list[description]', $description.val());
  //
  //   if ($("form.edit_list").data("new") == "update") {
  //     formData.append('list[id]', $id.val());
  //     $method = 'put';
  //   }
  //   formData.append('owner', $select.val());
  //
  //
  //   if ( $input.length != 0){
  //     if( $input[0].files.length != 0 ){
  //       formData.append('list[avatar]', $input[0].files[0]);
  //     }
  //   }
  //    alert($("form.edit_list").attr("action"));
  // 	$.ajax({
  // 	  url: "/lists",
  // 	  data:  JSON.stringify({ formData, _method: $method }),
  // 	  cache: false,
  // 	  contentType: false,
  //     dataType:"json",
  // 	  processData: false,
  // 	  type: "POST",
  //     success: function(response){
  //             alert("success");
  //            if (typeof response.htmlerrors !== "undefined") {
  //               $("#error_message_list").html(response.htmlerrors);
  //            } else {
  //                 var $ul = $("ul.user-lists");
  //                 // $("li.active", $ul).removeClass('active');
  //                $.getScript("/lists/" + response.list , function() {
  //                   // $("#error_message_list").html(response.htmlerrors);
  //                })
  //               //  $("[data-nav-list-id='"+ response.list + "']").addClass('active');
  //                $('#ms-modal-dialog').modal('close');
  //                Materialize.toast(response.message, 4000);
  //            }
  //           // Materialize.toast('Avatar Changed', 4000);
  //           // return response; // <- I tried that one as well
  //       }
  // 	})
  // })

var app = window.app = {};

function split(val) {
    return val.split(/@\s*/);
}

function extractLast(term) {
    return split(term).pop();
}

// app.Users = function() {
//   this._input = $('#users-search-txt');
//   this._initAutocomplete();
// };

// app.Users.prototype = {
// _initAutocomplete: function() {
//   this._input
//     .bind("keydown", function(event) {
//         if (event.keyCode === $.ui.keyCode.TAB && $(this).data("autocomplete").menu.active) {
//             event.preventDefault();
//         }
//         $('#users-search-hidden').val($(this).val());
//     })
//     .autocomplete({
//       source: function( request, response) {
//         var term = request.term,
//             results = [];
//         if (term.indexOf("@") >= 0) {
//             term = extractLast(request.term);
//             if (term.length > 0) {
//               $.getJSON( "/lists/search", {
//                 term: term
//               }, response );
//             }
//         }
//       },
//       appendTo: '#users-search-results',
//       select: $.proxy(this._select, this)
//     })
//     .autocomplete('instance')._renderItem = $.proxy(this._render, this);
// },
//
// _render: function(ul, item) {
//   var markup = [
//     '<span class="img">',
//       '<img src="' + item.image_url + '" />',
//     '</span>',
//     '<span class="name">' + item.name + '</span>',
//     '<span class="email">' + item.email + '</span>'
//   ];
//   return $('<li>')
//     .append(markup.join(''))
//     .appendTo(ul);
// },
//
// _select: function(e, ui) {
//   var value, index, terms, name, nameId;
//
//   value = this._input[0].value;
//
//  var l = value.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
//   console.log( 'l='+ l);
//   index = value.lastIndexOf("@");
//   terms = value.substring(0, index);
//   terms = terms.split(" ");
//
//   // add the selected item
//   name = '@'+ui.item.name;
//   nameId = '@['+ui.item.name+'](user:'+ui.item.id+')';
//
//   terms.push(name);
//   // add placeholder to get the comma-and-space at the end
//   terms.push("");
//   this._input.val(terms.join(" "));
//   // $('#users-search-hidden').val(term2.join(" "));
//   return false;
//
// }
//
// };
/***** END Autocomplete with jQuery Autocomplete *********/
})
