function Notifications(){
  this.notifications = $("[data-behavior='notifications']"),
  this.setup = function(){
    if (this.notifications.length >0) {
      $.ajax({
        url: "/notifications.json",
        dataType: "JSON",
        method: "GET",
        success: handleSuccess
      })
    }
  }
}
function handleSuccess(data){
  var items = $.map( data, function( notification, i ) {
    var actor = notification.actor;
    return  "<li class='collection-item avatar'>"+ notification.actorAvatar +
               "<span class='title'>"+notification.actorName+" "+notification.action+" " +notification.notifiable.type+"</span>"+
               "<p>"+ $.timeago(new Date(notification.created_at));+"</p>"+
             "</li>";
  });

  $("[data-behavior='unread-count']").text(items.length);
  $("[data-behavior='notification-items']").html(items)
}

$(document).on('turbolinks:load',function(){
  var notifications = new Notifications;
  notifications.setup();
  $("time.time").timeago();

})
