
.dropdown-list{
    background-color: #FFFFFF;
    margin: 0;
    display: none;
    min-width: 100px; /* Changed this to accomodate content width */
    max-height: auto;
  	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
    border: 1px solid #c3c3c3;
}
.dropdown-list li{
  line-height: 30px;
}
.dropdown-list li:not(:last-child){
  border-bottom: 1px solid #c3c3c3;
}

ul.dropdown-list li{
  padding: 0px;
}

ul.dropdown-list li> a{
  line-height: 0px;
  padding: 7px 20px;
}

ul.dropdown-list li:hover,
ul.dropdown-list li:active {
  background-color: #c3c3c3;
}

#edit_option {
  float: left;
}

#list h5 {
  margin: 1rem 0 1rem!important;
  font-size: 1.3rem!important;
}

form.edit_list .input-field{
  margin-top: 0rem;
}

form.edit_list .select-wrapper input.select-dropdown{
  height: 2.5rem;
  line-height: 2.5rem;
}

#application-date .datepicker{
  border-bottom: none;
}
.secondary-content {
    color: #9e9e9e!important;
}
#collaboration-users .chip a img, .invited_user .chip a img{
  border-radius: 50%;
  border: 2px solid #C0BFBF;
  background-color: #C0BFBF;
  height: 35px;
  width: 35px;
}

// .collaboration-user-settings li.chip > img{
//   border-radius: 50%;
//   border: 1px solid rgba(0, 0, 0, 0.26);
//   background-color: #fff;
//   padding: 1px!important;
//   width: 40px;
//   height: 100%;
//   margin: 0 auto;
// }
//
// .collaboration-user-settings li.chip > img,
// .collaboration-user-settings li.chip > img ~ span {
//   display: block;
//   float: none;
// }
//
// .collaboration-user-settings li.chip {
//   display: inline-block;
//   height: 40px;
//   width: 60px;
//   font-weight: 500;
//   color: rgba(0, 0, 0, 0.6);
//   padding: 0;
//   line-height: 12px;
//   border-radius: 16px;
//   background: none;
//   margin-bottom: 5px;
//   margin-right: 5px;
//   text-align: center;
// }
//
// .collaboration-user-settings{
//   min-height: 100px;
// }
//
//
// .collaboration-user-settings, .invitation-user-settings{
//   padding: 20px 0;
// }

.invitation-user-settings li{
   padding: 10px 0 0;
   font-size: 14px;
}

.invitation-user-settings li p{
  margin-right: 60px;
  line-height: 20px;
  margin-bottom: 0;
}

.invitation-user-settings li ul.menu-option{
  // width: 60px;
  right: 0;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
}

.invitation-user-settings li ul.menu-option i{
  font-size: 18px;
}

.invitation-user-settings li ul.menu-option a:hover i.material-icons{
  color: #55C2B9 !important;
}
// ul.collaboration-user-settings li{
//   float: left;
// }
//
// ul.collaboration-user-settings li.more {
//   display: inline-block;
//   height: 40px;
//   width: 40px;
//   border-radius: 50%;
//   border: 1px solid;
//   text-align: center;
//   cursor: pointer;
// }
//
// ul.collaboration-user-settings li.more i{
//   padding: 7px 0;
//   text-align: center;
// }
//
// .collaboration-user-settings li.chip > img ~ span {
//   line-height: 10px;
//   font-size: 12px;
//   line-height: 12px;
//   font-size: 11px;
//   padding-top: 5px;
// }

form.edit_list ul.dropdown-content li{
  min-height: 1rem;
  line-height: 1rem;
}

form.edit_list .dropdown-content li > a, form.edit_list .dropdown-content li > span{
  line-height: 1rem;
  padding: 12px 10px;
}

#collaboration-users .chip a:hover img,
.list-collaboration-users .chip a:hover i.add-user{
  border-color: #55c2b9;
  color: #55c2b9;
}

.list-collaboration-users .chip img {
  margin: 0!important;
  float: none;
}

.list-collaboration-users .chip{
  background: none;
  padding: 0 3px 0 0;
}

#collaboration-users a{
  position: relative;
  margin-left: -10px;
}

#collaboration-users .chip:before {
  text-decoration: none;
  font-family: "Material Icons";
  content: "\E061 ";
  font-size: 6pt;
  line-height: 6pt;
  background-color: #fff;
  color: #77B44E;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  padding: 0;
  left: 26px;
  top: -22px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
 -moz-transition: opacity .25s ease-in-out;
 -webkit-transition: opacity .25s ease-in-out;
}

#collaboration-users .chip.active:before {
    opacity:1;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.list-collaboration-users #collaboration-users li,
ul.invited_users li {
  // padding: 0px 4px 0px!important;
  float: left;
}

.list-collaboration-users ul li,
ul.invited_users li {
  // padding: 0px 4px 0px!important;
  display: inline-block;
}

p.label {
  font-size: 0.8rem;
  padding-top: 0.8rem;
}

.users-search input {
  width: 100%;
  font-size: 1em;
  padding: .5em 1.3em;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 2em;
}

.users-search input:focus {
  border-color: #A5CEF5;
}
.users-search .results .ui-widget-content {
  background: #fff;
  font-size: .9em;
  padding: 0;
  border-color: #ddd;
  box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
  line-height: 1.2;
  max-height: 20em;
  overflow: hidden;
  overflow-y: auto;
}

.users-search .results .ui-menu-item {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding: .4em .6em .4em 4.7em;
  position: relative;
  border: 0;
  border-left: 5px solid transparent;
  position: relative;
  height: 3.5em;
}
.users-search .results .ui-state-focus {
  background: #fff;
  border-left-color: #08c;
  font-weight: 300;
}

.users-search .results .ui-menu-item .img {
  position: absolute;
  width: 3em;
  height: 3em;
  top: .4em;
  left: .5em;
  overflow: hidden;
}

.users-search .results .ui-menu-item .img img {
  max-width: 100%;
}

.users-search .results .ui-menu-item .name {
  display: block;
  color: #555;
  text-transform: capitalize;
}

.users-search .results .ui-menu-item .email {
  display: block;
  font-size: .8em;
  text-transform: uppercase;
  color: #aaa;
  margin-top: .6em;
  letter-spacing: 1px;
}

.users-search .results .ui-state-focus .email,
.users-search .results .ui-state-focus .name {
  color: #08c;
  background-color: none;
}

.app-cont{
  width: 500px;
  margin: 0 auto;
}

.ui-autocomplete .ui-state-active,
.ui-autocomplete .ui-widget-content .ui-state-active{
   border: none;
   background: none;
}

#users-search-results ul li.ui-menu-item:hover{
  background: #ddd;
}

// LIST SETTINGS

// list of remember
.list-settings-collection{
  border:none;
}

.list-settings-collection.collection .collection-item{
  padding: 10px 0;
  line-height: 1rem;
  letter-spacing: .25px;
}

.collection.list-settings-collection .collection-item.avatar:not(.circle-clipper) > .circle,
.collection.list-settings-collection .collection-item.avatar :not(.circle-clipper) > .circle{
  width: 30px;
  height: 30px;
  left: 0;
}

.collection.list-settings-collection .collection-item.avatar .title,
.collection.list-settings-collection .collection-item .title{
  font-size: .8rem;
  color: #333333;
}

.collection.list-settings-collection .collection-item.avatar p,
.collection.list-settings-collection .collection-item .secondary-content span{
  color: #848994;
  font-size: .6rem;
  line-height: 10px;
}

.list-settings-collection.collection .collection-item.avatar{
  padding-left: 39px;
  min-height: 37px;
}

// END LIST OF MEMBERS
// list of pending invitations

#invitations .collapsible-header i.ms-open-button{
  float: right;
  margin-right: 0;
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 2.2rem;
}

#invitations .list-settings-collection.collection .collection-item{
  padding: 0;
}

#invitations .collapsible-header{
  border: none;
  min-height: 2rem;
  line-height: 2rem;
  padding: 0 .5rem 0 .2rem;
}

.collection .collection-item.active {
  background: none;
}

.collection.list-settings-collection .collection-item:first-child {
  border-top: 1px solid #e0e0e0;
}

.collection.list-settings-collection .collection-item:last-child {
  border-bottom: 1px solid #e0e0e0;
}

.row #list_manage_invitation .col{
      padding: 0 0.2rem 0 0;
}

#list_manage_invitation.collapsible-body{
  padding: .6rem 0 2rem;
}
