// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#complete_tasks ul.menu-option form {
  font-size: 12px;
  color: #777;
  margin: 3px 0;
  label { text-decoration: line-through; }
}
.show_blockers {
  // padding: 20px 40px;
  // background: aliceblue;
  // min-height: 80px;
}
.show_blockers p{
  padding-bottom: 5px;
}
.tasks ul.menu-option >li, .tasks ul.menu-information >li{
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.tasks ul.menu-option >li{
  min-width: 26px;
  padding-right: 8px;
}
.permitted .tasks ul.menu-option >li a:hover .material-icons{
  color: #55C2B9!important;
}

.table-of-task [type="checkbox"]:checked+label:before {
  width: 10px;
  height: 20px;
}
.table-of-task [type="checkbox"]+label {
    padding-left: 16px;
}
.table-of-task{
    font-weight: 500;
  }
.table-of-task div.today {
    border-left: 2px solid #56c2bb;
}
.table-of-task div.before {
    border-left: 2px solid #f9a95a;
}
.table-of-task ul.menu-information{
  font-size: 14px;
  line-height: 20px;
  color: #a4a6a9;
}
.tasks #menu{
  padding: 0;
}
// ul.menu-option > li:first-child {
//   width: 41%;
//   text-align: left;
// }
// #complete_tasks ul.menu-option #completed{
//   display:none;
// }


// #new_blocker:not(.active) {
//   display: none;
// }
//
// #new_blocker.active{
//   display: block;
// }
