<!-- Modal Structure -->
  <div id="ms-modal-dialog" class="modal">
    <div class="valign-wrapper" style="height:100%">
      <div class="modal-content">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right" >
  				<i class="material-icons">close</i>
  			</a>
         <%= yield %>
      </div>
		</div>
  </div>

<%= javascript_tag do %>

$(function() {
 $('ul.tabs').tabs();
  msCollapsible("ms-accordion-section");
  $('.mentions').mentionUsers();


 //$('#create-blocker').submit(function(e){
   //Arrayofemails(e);

//});


<% unless @task.blank? %>
    <% if @task.is_blocker?%>
       console.log("Arrayofemails");
        $("#edit_task_<%= @task.id%>").submit(function(e){

          Arrayofemails(e);
        });
    <% end %>
<% end %>


function Arrayofemails(e){
  e.preventDefault();
  var value = $inputor.val(),
      emails = value.match(/@\[((([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,})))\]/g),
      arr = new Array(),
      arrstring;
   <!-- //console.log( 'l='+ emails); -->
   $.each(emails, function( index, value ) {
     arr[index] = value.slice(2,-1);
   })
   arrstring = arr.join(',');
   <!-- $('#tags_emails').val( arrstring ); -->

}

$('select').material_select();

});

<% end %>
